<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sabka Bazaar shopping website">
    <meta name="keywords" content="Sabka Bazaar">
    <title>Sabka Bazaar - Official Shopping Website </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="../static/images/logo.png">
    <link rel="apple-touch-icon" href="../static/images/logo.png">
</head>
<body>
    <div class="home-page-wrapper container-lg">
        <header class="header-container">
          <div class="header-logo-container">
            <a href="/dist/home.html" class="header-logo" title="shopping cart">
              <img src="../static/images/logo.png" alt="Shopping cart logo">
            </a>
          <nav class="nav-bar" role="navigation">
            <a href="home.html" class="text-decoration">Home</a>
            <a href="plp.html" class="text-decoration">Product</a>
          </nav>
        </div>
          
          <div class="cart-logo">
            <div class="header-right-nav">
              <a href="login.html" class="text-decoration">SignIn</a>
              <a href="registration.html" class="text-decoration">Register</a>
            </div>
            <a class="cart-icon text-decoration" href="/dist/home.html">
              <img src="../static/images/cart.svg" alt="cart icon">
              <span id="cart-value">0 items</span>
            </a>
          </div>
        </header>
            <div class="slideshow-container">
          <!-- Full images with numbers and message Info -->
            <div class="Containers">
                <img src="/static/images/offers/offer1.jpg" alt="Independence Day Deal - 25% off on shampoo" style="width:100%">
            </div>
            <div class="slideshow-container">
          <!-- Full images with numbers and message Info -->
            <div class="Containers">
                <img src="/static/images/offers/offer2.jpg" alt="Independence Day Deal - Rs120 off on surf" style="width:100%">
            </div>
            <div class="slideshow-container">
          <!-- Full images with numbers and message Info -->
            <div class="Containers">
                <img src="/static/images/offers/offer3.jpg" alt="Independence Day Deal - Rs99 off on domex" style="width:100%">
            </div>
            <div class="slideshow-container">
          <!-- Full images with numbers and message Info -->
            <div class="Containers">
                <img src="/static/images/offers/offer4.jpg" alt="Independence Day Deal - Rs99 off on bodywash" style="width:100%">
            </div>
            <div class="slideshow-container">
          <!-- Full images with numbers and message Info -->
            <div class="Containers">
                <img src="/static/images/offers/offer5.jpg" alt="Independence Day Deal - Rs70 off on tea" style="width:100%">
            </div>
                <!-- Back and forward buttons -->
            <button id="Back" class="Back">Prev</button>
            <buton id="forward" class="forward">Next</button>
            </div>
            <br>
        
        <!-- The circles/dots -->
        <div style="text-align:center">
          <span id="dots-one" class="dots"></span>
          <span id="dots-two" class="dots"></span>
          <span id="dots-three" class="dots"></span>
          <span id="dots-four" class="dots"></span>
          <span id="dots-five" class="dots"></span>
        </div>        
        <main>
            <h1 class="sr-only">Homepage</h1>
            <div class="Category-section">
              <a href="#">
                  <img src="/static/images/category/fruits.png" alt="fruit-and-veg">
              </a>
              <div class="category-description">
                  <h2>Fruits &amp; Vegetables</h2>
                  <div class="category-description-text">A variety of fresh fruits and vegetables.</div>
                  <button class="btn btn-danger">Explore fruit-and-veg</button>
              </div>
            </div>
            <div class="Category-section even">
              <a href="#">
                  <img src="/static/images/category/bakery.png" alt="bakery-cakes-dairy">
              </a>
              <div class="category-description">
                  <h2>Bakery Cakes and Dairy</h2>
                  <div class="category-description-text">The best cupcakes, cookies, cakes, pies, cheesecakes, fresh bread, biscotti, muffins, bagels, fresh coffee, milk and more.</div>
                  <button class="btn btn-danger">Explore bakery-cakes-dairy</button>
              </div>
          </div>
                <div class="Category-section">
                    <a href="#">
                        <img src="/static/images/category/beverages.png" alt="beverages">
                    </a>
                    <div class="category-description">
                        <h2>Ankur Poria</h2>
                        <div class="category-description-text">Our beverage department will ensure your fridge is always fully stocked. Shop for soda, juice, beer and more. </div>
                        <button class="btn btn-danger">Explore beverages</button>
                    </div>
                </div>
               
                <div class="Category-section even">
                    <a href="#">
                        <img src="/static/images/category/beauty.png" alt="beauty-hygiene">
                    </a>
                    <div class="category-description">
                        <h2>Beauty and Hygiene</h2>
                        <div class="category-description-text">Buy beauty and personal care products online in India at best prices.</div>
                        <button class="btn btn-danger">Explore beauty-hygiene</button>
                    </div>
                </div>
                <div class="Category-section">
                    <a href="#">
                        <img src="/static/images/category/baby.png" alt="baby">
                    </a>
                    <div class="category-description">
                        <h2>Baby Care</h2>
                        <div class="category-description-text">Shop online for Baby Products, Diapers, Skin Care Products,etc.</div>
                        <button class="btn btn-danger">Explore baby</button>
                    </div>
                </div>       
          </main>
          <footer>
            <div>
                Copyright © 2022-23 sabka Bazaar Grocery Supplies Pvt.Ltd 
            </div>
         </footer>
      </div>
    
    <script src="bundle.js"></script>
</body>
</html>