* {
    margin:0;
}

body{
    background-color:#fff;
}

.text-decoration{
    text-decoration: none;
}

.container-md{
    padding:0;
}
.sr-only{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

    

  