// Carousal css

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Make the images invisible by default */
.Containers {
  display: none;
  box-shadow: 0 5px 5px #d3d3d361;
}

/* forward & Back buttons */
.Back, .forward {
  cursor: pointer;
  position: absolute;
  top:-50px;
  width: 30px;
  background-color:#d3d3d3b3;
  border-radius: 4px;
  font-size:12px;
  border:none;
  @media only screen and (min-width: 768px){
    top:-110px;
    width: 60px;
  }
}
.Back{
    @media only screen and (min-width: 768px){
        left:-50px;
    }
}

/* Place the "forward button" to the right */
.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
  text-align: center;
}

/*when the user hovers,add a black background with some little opacity */
.Back:hover, .forward:hover {
  background-color: #d3d3d312;
}

/* The circles or bullets and indicators */
.dots {
  cursor: pointer;
  height: 2px;
  width: 2px;
  margin: 0 3px;
  background-color: #d3d3d3b3;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
  @media only screen and (min-width: 768px){
    height: 10px;
    width: 10px;
  }
}

.enable, .dots:hover {
  background-color: #000;
}