{{#each this.banner}}
    <div class="slideshow-container">
  <!-- Full images with numbers and message Info -->
    <div class="Containers">
        <img src="{{this.bannerImageUrl}}" alt="{{this.bannerImageAlt}}" style="width:100%">
    </div>
{{/each}}
        <!-- Back and forward buttons -->
    <button id="Back" class="Back">Prev</button>
    <buton id="forward" class="forward">Next</button>
    </div>
    <br>

<!-- The circles/dots -->
<div style="text-align:center">
  <span id="dots-one" class="dots"></span>
  <span id="dots-two" class="dots"></span>
  <span id="dots-three" class="dots"></span>
  <span id="dots-four" class="dots"></span>
  <span id="dots-five" class="dots"></span>
</div>