<header class="header-container">
  <div class="header-logo-container">
    <a href="/dist/home.html" class="header-logo" title="shopping cart">
      <img src="../static/images/logo.png" alt="Shopping cart logo">
    </a>
  <nav class="nav-bar" role="navigation">
    <a href="/" class="text-decoration">Home</a>
    <a href="plp.html" class="text-decoration">Product</a>
  </nav>
</div>
  
  <div class="cart-logo">
    <div class="header-right-nav">
      <a href="login.html" class="text-decoration">SignIn</a>
      <a href="registration.html" class="text-decoration">Register</a>
    </div>
    <a class="cart-icon text-decoration" href="/dist/home.html">
      <img src="../static/images/cart.svg" alt="cart icon">
      <span id="cart-value">0 items</span>
    </a>
  </div>
</header>
